.mod-dialog {
	position: fixed !important;
	*position: absolute; /*ie6*/
	left: 20px;
	top: 20px;
	z-index: 10001;
	border: 1px solid #E1E1E1;
	background-color: #ffffff;
 }

.mod-dialog-title {
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border-bottom: 1px solid #E1E1E1;
	color: #4d4d4d;
	text-indent: 10px;
	background-color: #f9f9f9;
}

.mod-dialog-content {
    padding: 20px;
    font-size: 12px;
	overflow: hidden;
	line-height: 150%;
}

.mod-dialog-close {
    color: #999;
    cursor: pointer;
    display: block;
    font-family: tahoma;
    font-size: 24px;
    font-weight: bold;
    height: 18px;
    line-height: 14px;
    position: absolute;
    right: 6px;
    top: 6px;
    text-decoration: none;
}

.mod-dialog-close:hover {
    color: #666;
}

.mod-dialog-bottom {
    text-align: right;
    padding: 5px 10px 10px;
}

.mod-dialog-bottom input {
    margin-right:5px;
}

 
/* 遮罩层 */
.mod-overlay {
	position: fixed !important;
	*position: absolute; /*ie6*/
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background:#000;
	filter:alpha(opacity=70);
	opacity:.7;
}
